<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="home_style.css"></a>
		<link rel="stylesheet" type="text/css" href="profile_style.css"></a>
		<script type="text/javascript" src=""></script> 

		<style>
			ul {
  				list-style-type: none;
  				margin: 0;
  				padding: 0;
				}
			li  {
				display: inline;
			}

		</style>
			
</head>
<body>
	
	<div class="header">
	<h1 align="center">HOME PPAGE </h1>
	<ul class="dropdown">
		<li >
			<a href="http://localhost:3000/profile" style="font-size: 30px; color: #ddd; padding-right: 25px"> <%= display_name %> </a>
		</li>
		<li>
			<a href="http://localhost:3000/logout" style="font-size: 20px; color: #ddd">Logout</a>
		</li>
	</ul>
	</div>	

	<br>

	<ul>
		
		<li><div class="dropdown">
		  		<a href="#" class="dropbtn" style="font-size: 30px ; color: black"> Scenario 
					 <div class="dropdown-content">
						 <a href="http://localhost:3000/home" align="center">All scenarios</a>
						 <a href="http://localhost:3000/save" align="center">Saved scenarios</a>
						 <a href="http://localhost:3000/draft" align="center">Draft scenarios</a>
					</div>
				</a>
			</div>
		</li>
		<li> <button style="margin-left: 280px"><a href="http://localhost:3000/create" style="font-size:  20px ; color: black ; ">Create</a></button> 
		</li>
	</ul>
	
	<div class="main">
		
		<h2 align="center">Drafted Scenarios</h2>  
		<br>
		<div class="container">
			<% if(data.length == "0") { %>
				<div> YOU DONT HAVE ANY DRAFTED SCENARIOS </div> 
			<% } else { %>
				<% var z=0; for(var k=1;k<=(data.length)/(year.length*subject.length);k++) { %>
					<form name="scenario" method="post" action="http://localhost:3000/delete">
					<p style="font-size: 30px">Scenario <%= k %> : <%= scenario_name[k-1].scenario_name %> </p> 
					<table class="table table-bordered"> 
						<thead>
							<tr>
								<th>Subjects</th>
								<% for(var i=0;i< year.length;i++) { %>
									<th> Grade <%= year[i].YEAR %> </th>
								<% } %>									
							</tr>
						</thead>  
						<tbody>
							<% for(var i=1;i<= subject.length;i++) { %>
								<tr>
									<th> <%= subject[i-1].SUBJECT %></th>
									<% for(var j=1;j<= year.length;j++) { %>
										<td> <%= data[z].course_id %> </td> <% z++ %>
									<% } %>
								</tr>	
								<% } %>
						</tbody> 
					</table>
					<input  name="page_name" value="draft" hidden="">
					<button type="submit" name="delete" value="<%= data[k].scenario_no %>">Delete</button> 
					<hr>
					</form>
				<% } %>
			<% } %>			

	</div>
	</div>
</body>
</html>